.row-container{
    padding: 16px; 
}

.colGeneral{
    padding: 16px;
}

.col-droite{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.col-gauche{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.square-identity{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #e15f41;
    color: white;
    border-radius: 16px;
    margin: 16px;
    padding: 16px;
}

.square-location{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-radius: 16px;
    border-radius: 16px;
    border: solid 1px #192a56;
    margin: 16px;
    padding: 16px;
}

.square-price{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #badc58;
    border-radius: 16px;
    margin: 16px;
    padding: 16px;
}

.rectangle-matieres{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-radius: 16px;
    border: solid 1px #192a56;
    margin: 16px;
}

.matieres-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.matiere-item{
    background: rgb(25,42,86);
    background: radial-gradient(circle, rgba(25,42,86,0.8711951333267682) 45%, rgba(25,42,86,0) 100%);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.rectangle-description{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #c8d6e5;
    padding: 32px 8px;
    border-radius: 16px;
    margin: 16px;
}

.prof-description{
    max-width: 80%;
    margin-top: 32px;
}

.title-infos-page{
    font-size: 22px;
    color: #192a56;
    font-weight: bold;
}

.square-rdv{
    width: 100%;
}

.btn-rdv{
    padding: 16px;
    height: auto !important;
    color: white;
    font-weight: bold;
    width: 100%;
}

.display-message-error-rdv{
    margin: 16px;
    width: 100%;
    padding: 16px;
}

.display-message-success-rdv{
    margin: 16px;
    width: 100%;
    padding: 16px;
}

.container-prof-by-id{
    min-height: 90vh
}
