.prof-card{
    width: 100%;
    min-height: 90%;
    max-height: 120%;
    /*border: solid black 1px;*/
    padding: 8px;
}

.prof-card-in-link{
    width: 30vh;
    height: 100%;
    /*border: solid black 1px;*/
    padding: 8px;
}

.prof-card-subcontainer{
    border: solid 1px #333;
    border-radius: 8px;
    padding: 32px;
    box-shadow: inset 1px 1px 16px 1px rgba(0,0,0,0.6);
}

.prof-card:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 10px #666;
    cursor: pointer;
}

.card-avatar-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-rate-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.matiere-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* flex-direction: column; */
    border-top: solid 1px #666;
    height: 100%;
    line-height: 1.2;
    padding-top: 16px;
}

.prof-card-name{
    font-size: 1.5rem;
    font-weight: 500;
}

.prof-card-matiere{
    font-size: 1.2rem;
    font-weight: 300;
}

@media (max-width: 600px) { 
    .prof-card-in-link{
        padding: 0px;
    }
}