.display-flex-inline{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .footer{
    height: 33vh;
    margin-top: 16px;
  
  }
  
  .footer-first-section{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 70%;
  }
  
  .footer-section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  
  .footer-section > h3, .footer-section > a{
    color: white;
  }
  
  .footer-section > h3{
    font-weight: bold;
    font-size: 22px;
  }
  
  .footer-section > a, .display-flex-inline > a{
    margin-top: 16px;
  }
  
  .social-network-icon{
    margin-right: 16px;
    width: 32px;
    height: 32px;
  }
  
  .social-network-icon > svg{
    width: 100%;
    height: 100%;
    color: white;
  }
  
  .footer-second-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .nom-site{
    color: #fbc531;
  }
  
  @media (max-width: 600px){
    .footer{
      height: auto;
    }
    .footer-first-section{
      flex-direction: column;
      align-items: center;
    }
    .footer-section{
      margin-top: 64px;
    }
  }