.round-shape{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marker-container{
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -16px;
    cursor: pointer;
}

.img-marker{
    width: 48px;
}
