.header{
    background-color: #fbc531;
    position: sticky;
    top: 0;
    z-index: 16;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 16px;
    font-weight: 300;
  }

  .header-menu-left{
    width: 50%;
    background-color: #fbc531;
    border: 0 !important;
  }

  .header-menu-right{
    width: 50%;
    background-color: #fbc531;
    border: 0 !important;
    justify-content: flex-end;
  }

  @media (max-width: 600px) {
    .header{
      justify-content: space-between;
      width: 100%;
    }
  }