.best-profs-container{
    background: #dfe6e9;
}

.best-profs-carousel{
    min-height: 36vh;
    padding-top: 16px;
}

.best-profs-carousel > div > div > div > div{
    display: flex;
    justify-content: center;
}

.best-profs-wrapper{
    width: 40% !important;
}

.card-wrapper{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 16px;
}

.prof-card-best-profs{
    width: 100%;
    min-height: 90%;
    max-height: 120%;
    padding: 8px;
}

.best-profs-title{
    font-size: 2rem;
    margin-bottom: -8px;
    padding: 8px;
    background-color: #485460;
    color: white;
    width: 100%;
    text-align: center;
}

@media (max-width: 600px) { 
    .best-profs-wrapper{
        width: 100% !important;
    }
}