.container-all-profs{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 16px 256px 16px 256px;
}

.search-and-title-bloc-container{
    position: sticky;
    top: 77px;
    z-index: 2;
}

.search-and-title-bloc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #d2dae2;
}

.all-filter-container{
    width: 100%;
    padding: 16px 64px 32px 64px;
}

.search-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 16px;
}

.search-container-slider{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 32px;
}

.search-bar{
    width: 100%;
    height: 40px;
}

.search-bar > div{
    height: 100% !important;
}

.container-all-profs > div{
    width: 100%;
    margin: 16px;
}

.all-profs-title{
    font-size: 2rem;
    margin-bottom: 16px;
    padding: 8px;
    background-color: #485460;
    color: white;
    width: 100%;
    text-align: center;
}

.search-city{
    width: 48%;
}

.search-matiere{
    width: 48%
}

.slider-note{
    width: 48%;
}

.slider-prix{
    width: 48%;
}

.toggleFiltersButton{
    width: 100%;
    margin-bottom: 8px;
}

@media (max-width: 600px) { 
    .container-all-profs{
        padding: 0px;
    }
    .ant-col-12{
        max-width: 100%;
        padding: 0px;
        flex-basis: 100%;
    }
    .ant-card-body{
        padding: 16px;
    }
    .all-filter-container{
        padding: 8px 8px 32px 8px;
    }
    .search-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .search-container-slider{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .search-city, .search-matiere, .slider-note, .slider-prix{
        width: 90%;
        margin-top: 16px;
    }
}