.infoWindow-container{
    position: relative;
    width: 220px;
    background-color: white;
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
    padding: 10px;
    font-size: 14px;
    z-index: 99;
    line-height: 1.5;
}

.img-infoWindow-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.round-shape-infoWindow{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    /* display: none; */
    height: 0;
    overflow: hidden;
}