.account-container{
    min-height: 90vh;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 16px;
    padding: 8px;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    grid-column: 1;
    grid-row: 1/3;
    padding: 8px;
}

.sidebar{
    grid-column: 2;
    grid-row: 1/3;
    padding: 8px;
}

.container-personal-infos-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.personal-infos-form{
    width: 70%;
    padding: 64px;
    border: solid 1px #aaa;
}

.container-btn{
    margin-top: 32px;
}

.container-btn > div > div > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-message{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px 0 24px;
    color: white;
    font-size: 18px;
    margin: 24px;
}

.display-message-success{
    background-color: darkgreen;
}

.display-message-error{
    background-color: crimson;
}

.futur{
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: green;
    margin-left: 16px;
}

.passe{
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: red;
    margin-left: 16px;
}

.header-cours-accordeon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container-status-cours-passe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 6%; */
    border: solid 1px red;
    border-radius: 4px;
    padding: 4px;
}

.container-status-cours-a-venir{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 7%; */
    border: solid 1px green;
    border-radius: 4px;
    padding: 4px;
}

.status{
    margin: 0;
}

.content-cours-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-contact{
    width: 16%;
}


.pas-de-cours-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.title-h2{
    font-size: 2rem;
}

@media (max-width: 600px){
    .account-container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    .personal-infos-form{
        width: 100%;
    }
}