.container-home-carousel{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    overflow: hidden;
    height: 70vh;
}

.profs-a-dom{
    background-color: rgba(20, 20, 20, 40%);
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    /* top: 60px; */
    z-index: 1;
    font-size: 5rem;
    color: white;
}

.logo-profs-a-dom{
    height: 100%;
    width: 100%;
}

@media (max-width: 600px) { 
    .profs-a-dom{
        height: 20vh;
    }
    .container-home-carousel{
        height: 20vh;
    }
}
