@import '~antd/dist/antd.css';
/* @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;300;500;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Comfortaa', sans-serif;
}

body{
  min-height: 100vh;
  max-width: 100vw;
  background-color: #192a56;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

.content-body{
  min-height: 100vh;
}

.loader-container{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-container-component{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#admin-back-button{
  height: 40px;
  z-index: 9;
  background-color: #192a56;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer{
  background-color: #192a56 !important;
}

