.container-connexion-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 64px;
    min-height: 80vh;
}

.connexion-form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 60%;
    padding: 64px;
    border: solid 1px #aaa;
}

.connexion-form > div {
    width: 80%;
    /* margin-left: -128px; */
}

.connexion-title{
    font-size: 2rem;
}

@media (max-width: 600px) { 
    .connexion-form{
        width: 100%;
        padding: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}