.summary-order-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    background-color: #192a56;
    padding: 64px;
}

.summary-order-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 20vw;
}

.details-wrapper{
    background-color: #f7f1e3;
    padding: 32px;
    border-radius: 16px;
}

.title-summary-order{
    font-size: 32px;
    font-weight: 900;
    color: #f7f1e3;
    margin-bottom: 96px;
}

.subtitle-summary-order{
    font-size: 24px;
    text-decoration: underline;
    margin-bottom: 40px;
}

.bold-details{
    font-weight: bold;
    font-size: 20px;
}

.contact-order-message{
    font-size: 12px;
    margin-top: 40px;
}