.map-title{
    font-size: 2rem;
    margin-bottom: -8px;
    padding: 8px;
    background-color: #485460;
    color: white;
    width: 100%;
    text-align: center;
}

.map-plus-filters-container{
    display: flex;
    padding: 32px;
}

.map-container{
    height: 64vh;
    width: 60%;
    padding: 16px;

}

.map-container > div{
    border: solid 1px #ccc;
    box-shadow: 1px 1px 6px 1px #485460;
}

.filters-map-container{
    width: 40%;
    padding: 16px;
}

.filters-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #d2dae2;
    border: solid 1px #ccc;
    /* border-radius: 8px; */
    width: 100%;
    height: 100%;
    padding: 16px;
    box-shadow: 1px 1px 6px 1px #485460;
}

.search-bar-home{
    width: 100%;
    height: 40px;
}

.search-bar-home > div{
    height: 100% !important;
}

.filter-module{
    border: solid 1px #485460;
    border-radius: 8px;
    padding: 32px;
    width: 100%;
}

.select-matieres-plus-reset-button{
    display: flex;
}

.button-reset{
    height: 40px;
    border-radius: 0px !important;
}

@media (max-width: 600px) { 
    .map-plus-filters-container{
        flex-direction: column;
    }
    .map-container{
        width: 100%;
    }
    .filters-map-container{
        width: 100%;
    }
    .button-reset{
        margin-top: 16px;
    }
    .filter-module{
        margin-top: 8px;
    }
}
